@model List<Omar_EAD_Term_Project.Models.tourPlacesClass>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>TOURS</title>
    <script type="text/javascript" src="js/Myriad_Pro_600.font.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            //$('#addTour').click("/tour/addTourToClient");
        });
    </script>

</head>

<body id="page2">
    <!-- content -->
    <section id="content">


        <h2 align="center">Tours Panel</h2>
        <div align="center">
           
            <table cellpadding="5" border="1">
                <tr>
                    <td><b>Name</b></td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td><b>Start Date</b></td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td><b>End Date</b></td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td><b>Price</b></td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td><b>Places</b></td>
                   

                    
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                @if (Model != null)
                {
                    foreach (var clt in Model)
                    {
                        <tr>
                            <td>@clt.t.name</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>@clt.t.st_date </td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>@clt.t.end_date</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>@clt.t.price</td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                @for (int i = 0; i < clt.list.Count; i++)
                                {
                                    @(clt.list[i].name);
                                    string str = (string)(Session["tour_id"]);
                                    if (Session["login"] == "Client" && str==null)
                                    {
                                        Session["tour_name"] = clt.t.name;
                                        Session["tour_id"] = ""+clt.t.Id;
                                        <form method="post" action="/tour/addTourToClient">
                                            <input type="submit"  value="Add tour" />
                                            </form>
                                    }
                                        
                                    @*if(str!=null)
                                    { 
                                        string str2=""+clt.t.Id;
                                        if(Session["login"] == "Client" && str==str2)
                                        { 
                                            <form method="post" action="/tour/removeTourOfClient">
                                                <input type="submit" value="Remove Tour" />
                                            </form>
                                         }
                                    
                                    }*@
                                    if (i != clt.list.Count - 1)
                                    {
                                        <br />
                                    }
                                }
                            </td>


                        </tr>
                        <tr><td>&nbsp;</td></tr>
                    }
                }
            </table>
        </div>

    </section>
    <!-- / content -->
</body>

</html>